<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/src/img/logo-upida.png" type="image/x-icon"/>
    <title>Upida's Blog</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="assets/src/css/style.css" />
  </head>
  <body>
    <main id="app" v-cloak>

      <!-- navbar -->
      <nav class="nav">
        <div
          class="nav-menu" 
          v-on="page == 'menu' ? { click: () => page = 'home' } : { click: () => page = 'menu' }"
        >
          <div class="nav-menu-icon">
            <i class="fa fa-close" v-if="page == 'menu'"></i>
            <i class="fa fa-bars" v-else></i>
          </div>
          <div class="nav-menu-text">
            MENU
          </div>
        </div>
        <div class="nav-logo">
          UP<transition name="slide-fade">
            <div v-show="showFullLogo">IDA</div>
          </transition>.
        </div>
        <div
          class="nav-find_me"
          v-on="page == 'find me' ? { click: () => page = 'home' } : { click: () => page = 'find me' }"
        >
          <i class="fa fa-close" v-if="page == 'find me'"></i>
          <div v-else>FIND ME</div>
        </div>
      </nav>

      <!-- header -->
      <header>
        <div class="header">
          <div class="header-content">
            <div class="header-title">
                Upida's Blog
            </div>
            <div class="header-desc text-muted">
                Small space & Big thing
            </div>
          </div>
        </div>
      </header>

      <!-- article -->
      <transition name="slide-fade">
        <div class="article" v-if="page == 'home' ">
          <div class="article-item" v-for="post in posts">
            <div
              class="article-title"
              :class="{ show: showArticle == post.id ? true : false }"
              @click="showArticle != post.id ? showArticle = post.id : false"
            >
                {{ post.title }}
            </div>
            <div class="article-body">
              <div class="article-date">{{ post.date }}</div>
              <div class="article-text">{{ post.content }}</div>
            </div>
          </div>
        </div>
      </transition>

      <!-- menu -->
      <transition name="slide-fade">
        <div class="menu" v-if="page == 'menu'">
          <div class="menu-main">
            <div class="menu-item" @click="page = 'home'">
              <div class="menu-icon">
                <i class="fa fa-home"></i>
              </div>
              <div class="menu-title">
                Home
              </div>
            </div>
            <div class="menu-item" @click="page = 'find me'">
              <div class="menu-icon">
                <i class="fa fa-address-book"></i>
              </div>
              <div class="menu-title">
                Contact
              </div>
            </div>
          </div>
          <div class="menu-tag">
            <div class="menu-item">
              #Makanan
            </div>
          </div>
        </div>
      </transition>

      <!-- find me -->
      <transition name="slide-fade">
        <div class="find_me" v-if="page == 'find me'">
          <div class="find_me-item">
            <div class="find_me-icon">
              <img src="assets/src/img/Instagram_icon.png.webp" alt="" srcset="">
            </div>
            <div class="find_me-body">
              sal.upida
            </div>
            <div class="find_me-link">
              <a href="https://instagram.com/sal.upida">
                <i class="fa fa-external-link"></i>
              </a>
            </div>
          </div>
          <div class="find_me-item">
            <div class="find_me-icon">
              <img src="assets/src/img/Twitter_bird_logo_2012.svg.png" alt="" srcset="">
            </div>
            <div class="find_me-body">
              upidaaa
            </div>
            <div class="find_me-link">
              <a href="https://twitter.com/upidaaa">
                <i class="fa fa-external-link"></i>
              </a>
            </div>
          </div>
          <div class="find_me-item">
            <div class="find_me-icon">
              <img src="assets/src/img/600px-Octicons-mark-github.svg.png" alt="" srcset="">
            </div>
            <div class="find_me-body">
              upida
            </div>
            <div class="find_me-link">
              <a href="https://github.com/upida">
                <i class="fa fa-external-link"></i>
              </a>
            </div>
          </div>
        </div>
      </transition>

    </main>

    <script type="text/javascript" src="assets/src/js/script.js"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="assets/dist/js/bootstrap.min.js"></script>
    
    <!-- Vue -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> 

  </body>
</html>
